<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@{
    ViewBag.Title = "Concept";
}

<div class="jumbotron">
    <h1 class="text-center"><b>Store</b> Idea</h1>
    <br />
    <div class="text-center">
        <p>
            Our idea is simple. To provide you with the fastest way to find solution to all of your car problems!
            What began it all? I was travellin to my grandparents' place one day to bring them some of our home made rakia. And while driving, i hit a deer. I needed help. For the poor animal and for my car. Both were really damaged. And while i waited and waited hours for someone to come and pick me up, i realized that i don't know where to repair my car. And then it hit me. On the radio "Shoshana" was playing, the sun was shining and i thought to myself - there is not a single app for car parts and car repairment. I should make one. For me and for all others who suffered the same fate.
            So enjoy our creation and let us help you to help yourself....
        </p>
    </div>
</div>


<p class="text-center"><a class="btn btn-white btn-round" href="/Home/Index"><i class="fa fa-chevron-left"></i></a></p>

