@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    @if (!this.User.Identity.IsAuthenticated)
    {   <h1>Store service</h1>
    <p class="lead"><strong>Store</strong> is an online platform which provides possibility for you to find the best solution to all of your car problems</p>
        <p class="text-center">Find all you need  in one place!<i class="material-icons">done_all</i></p>
        <hr />
        <div class="text-center"><p><a href="/Account/Login" class="btn btn-primary btn-lg">Continue &raquo;</a></p></div>
    }
    else
    {<h1 class="text-center">Welcome to <b>Store</b></h1>
    <p class="lead text-center">We hope you enjoy your stay here and find what you are looking for!</p>
    }
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <h2>Concept</h2>
        <p>
            <b>Store</b> provides the biggest diversity for car equipment and the best conditions for you to buy it...
        </p>
        <p><a class="btn btn-primary btn-round" href="/Home/About"><i class="material-icons">Check the story</i></a></p>
    </div>


    <div class="col-md-4 text-center">
        <h2>Staff</h2>
        <p>Learn more about Us</p>
        <p><button class="btn btn-primary btn-round text-center" data-toggle="modal" data-target="#myModal"><i class="material-icons">See the founders</i></button></p>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog"
                 style="
                    padding-top: 20px;
                    padding-left: 20px;
                    padding-right: 30px;
                    border-right-width: 30px;
                    margin-right: 0px;">
                <div class="modal-content col-md-pull-12" style="background: url(../../Content/img/BG.png)">
                    <div class="modal-header">
                        <button type="button" class="close text-center" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title" style="color:lightslategray" id="myModalLabel"><b>We are how we move....</b></h3>
                    </div>
                    <div class="modal-body col-md-12"
                         style="background: url(../../Content/img/BG.png)">
                        <div class="col-md-3">
                            <div class="card card-signup">
                                <h3><b style="color:white">Mitko</b></h3>
                                <a target="_blank" href="https://www.facebook.com/vasilevdimitur">
                                    <img alt="Thumbnail Image" class="img-circle img-raised img-responsive"
                                         src="https://vignette.wikia.nocookie.net/muppet/images/a/a2/Ernie1980%27s.jpg/revision/latest?cb=20111114151709" />
                                </a>
                                <h4><b style="color:white">FrontEnd</b></h4>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card">
                                <h3><b style="color:white">Rony</b></h3>
                                <a target="_blank" href="https://www.facebook.com/rony.koleman.3">
                                    <img alt="Thumbnail Image" class="img-circle img-raised img-responsive"
                                         src="https://static.giantbomb.com/uploads/square_small/16/164924/2602101-2463857318-bert-.jpg" />
                                </a>
                                <h4><b style="color:white">BackEnd</b></h4>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <h3><b style="color:white">Maiki</b></h3>
                                <a target="_blank" href="https://www.facebook.com/MaikalStoianov">
                                    <img alt="Thumbnail Image" class="img-circle img-raised img-responsive"
                                         src="~/images/Michael.jpg" />
                                </a>
                                <h4><b style="color:white">BackEnd</b></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="col-md-4 text-center">
        <h2>Contact Us</h2>
        <p>Having any troubles or complains?</p>
        <a class="btn btn-primary btn-round text-center" href="/Home/Contact">
            <i class="material-icons">Send us a message</i>
        </a>
    </div>
</div>