@model DetailsFeedbackViewModel

<div>
    <h2>Feedback Details:</h2>
    <hr />
    <h2>Content:</h2>
    <br />
    <h4>@Model.Content</h4>
    <br />
    <h2>Rating:</h2>
    <br />
    <h4>@Model.Rating</h4>
    <br />
    <h2>Product title:</h2>
    <br />
    <h4>@Model.Product.Title</h4>
</div>
