body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.my-blue-border {
    border-color: #61acff;
}

td {
    vertical-align: middle !important;
}

.nav > li > a:focus,
.nav > li > a:hover,
.nav > li > button:focus,
.nav > li > button:hover,
.dropdown button:focus,
.dropdown button:hover {
    /* background-color: transparent !important; */
    text-decoration: none;
    background-color: #61acff !important;
    border-radius: 10%;
    color: white;
}

.my-divider {
    background-color: #61acff !important;
    opacity: 0.3;
}

.my-dropdown-ancor-tag {
    color: #428bca !important;
}

.my-bg-blue {
    background-color: #428bca;
}

.my-toggle {
    border: solid;
    border:solid 1px;
    border-color: #428bca;
}

.my-search {
    margin-top: 7.5px;
    margin-left: 10px;
    margin-right: 10px;
}

.my-mlr-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.my-nav-bg {
    background-color: #e3f2fd;
}

.my-p-5 {
    padding: 5px;
}

.mt-20 {
    margin-top:20px;
}

.float-left {
    float: left;
    margin: 10px;
}

.half-transperacy {
    opacity: 0.3;
}

.dropzone {
    width: 200px;
    height: 100px;
    border: 2px, dashed #ccc;
    color: #ccc;
    line-height: 200px;
    align-content: center;
    font-family: Arial, sans-serif;
}

    .dropzone.dragover {
        border-color: #000;
        color: #000;
    }


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
/*.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}*/

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.invoice-logo {
    width: 70%;
}
