@model UserProductsListViewModel

@{
    ViewData["Title"] = "All products for sale.";
}
<div class="container">
    <h2>@Model.SellerUserName products for sale:</h2>

    @if (Model.ProductsToSell.Count() != 0)
    {
        <table class="table table-bordered table-hover">
            <tr>
                <th>Name</th>
                <th>Category</th>

            </tr>
            @foreach (var item in Model.ProductsToSell)
            {
                <tr>
                    <th>@item.Title</th>
                    <th>@item.Category</th>
                    <th>
                        <a href="~/Product/Details?id=@item.Id" class="btn btn-default">Details</a>
                        <a href="~/Product/Delete?id=@item.Id" class="btn btn-danger">Delete</a>
                        <a href="~/Product/Edit?id=@item.Id" class="btn btn-primary">Edit</a>
                    </th>
                </tr>
            }
        </table>
    }
    else
    {
        <h2>No products for sale.</h2>
    }
</div>