@model AddressViewModel
@{
    ViewData["Title"] = "Set Address";

}
<div class="row">
    <div class="col-md-4 ">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            @{
                if (TempData[WebConstants.InfoMessageKey] != null)
                {
                    <h4>@TempData[WebConstants.InfoMessageKey]</h4>
                }
                else
                {
                    <h4>Set your address.</h4>
                }
            }

            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CountryName"></label>
                <input asp-for="CountryName" class="form-control" />
                <span asp-validation-for="CountryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TownName"></label>
                <input asp-for="TownName" class="form-control" />
                <span asp-validation-for="TownName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostCode"></label>
                <input asp-for="PostCode" class="form-control" />
                <span asp-validation-for="PostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Add Address</button>
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

