
@{
    ViewData["Title"] = "ChangePicture";
}

<h2>Change your profile picture</h2>
<br />
<div id="pictureBox">
    <span class="back"><img src="~/images/DragandDropBack.png" /></span>
</div>
