
@{
    ViewData["Title"] = "ChangePicture";
}

<h2>Change your profile picture</h2>
<br />
@*<div id="pictureBox">
        <span class="back"><img src="~/images/DragandDropBack.png" /></span>
    </div>*@

<div class="row">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <p>Use URL</p>
                <input id="file-path" class="form-control" name="url" />
            </div>
            <div class="form-group">
                <label for="file-input">
                    <img src="~/images/DragandDropBack.png" />
                </label>
                <input id="file-input" type="file" name="image" />
            </div>
            <button type="submit" class="btn btn-default">Submit image</button>
        </form>
    </div>
</div>