
@{
    ViewData["Title"] = "Change your picture";
}
<link rel="stylesheet" href="~/css/site.css" />
<h2>Change your profile picture</h2>
<br />
<div class="row">
    <div class="col-md-10">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <p>Use URL</p>
                <input id="file-path" class="form-control" name="url" />
                <button type="submit" class="btn btn-default">Submit image</button>
            </div>
            <p>Drop your picture here</p>
            <div class="dropzone" id="dropzone" style="border-style:dashed">
            </div>
        </form>
        <script>
                (function () {
                    var dropzone = document.getElementById('dropzone');

                    var upload = function (files) {

                        var formData = new FormData();

                        formData.append('file', files[0]);

                        $.ajax({
                            type: "Post",
                            url: "ChangePicture",
                            data: Image,
                            contentType: false,
                            processData: false,
                            data: formData,
                            success: function () {
                                alert("Successfully uploaded your new picture!");
                                window.location.href = "@Url.Action("Details","User")";
                            },
                            error: function () {
                                alert("There was error uploading files!");
                            }
                        });
                    };
                    dropzone.ondrop = function (e) {
                        e.preventDefault();
                        this.className = 'dropzone';
                        upload(e.dataTransfer.files);
                    };

                    dropzone.ondragover = function () {
                        this.className = 'dropzone dragover';
                        return false;
                    };

                    dropzone.ondragleave = function () {
                        this.className = 'dropzone';
                        return false;
                    };
                }());
        </script>
    </div>
</div>
@* link for the script file...*@
@*@section Scripts{
        <script src="@Url.Content("~/Scripts/dropDownScript.js")"></script>
    }*@